<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Someone just signed up for wellbe! 
    Go to wellbe.herokuapp.com/users to see what their information is.

  </body>
</html>