<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Wellbe, <%= @user.email %></h1>
    <p>
      You have successfully signed up to Wellbe,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      We will be back to you with your curated information on <%= @user.condition %> in 2-3 days time.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>