<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <h2>Someone signed up for wellbe from the NOPAY version of the site.</h2>
   <h4>go to getwellbe.herokuapp.com/users to see who it is</h4>
  </body>
</html>