    <body>
        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="well">
                <!--<h1>Get Wellbe!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->

                <img src="/assets/wellbe.png" class="img-rounded" style="z-index: 0; position: relative;" />

            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2><img src="/assets/community.svg" style="width:32px; height:32px;"/>  Who we are.</h2>
                    <p>Passionate advocates of natural healthcare and general wellness </br></br>
                        Independent consumers of healthcare information that want to make better healthcare decisions</br></br>
                        Internet users that want to cut through the noise to find what's relevant to us, what works and what doesn't. <b><a href="#whoWeAre" data-toggle="modal">Read More</a></b> about us!</p>
                    <!-- Modals -->
                        <div id="whoWeAre" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Who We Are.</h3>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Here at wellbe we believe there are non-chemical, noninvasive solutions to many health issues today that can provide more than just an indefinite bandaid.  The trouble is, there is a lot of noise out there. There is plenty of bad information and the good information is often buried in random places most consumers cannot or don't know how to find. The internet has allowed us to not just take a doctor's word as fact, we can now research and understand all of our options and make better decisions. 
                                </br>
                                </br>
                                    We think wellbe can change the healthcare system in some small way by aggregating natural, complementary and alternative healthcare information as well as general wellness, nutritional and lifestyle tips from a variety of notable sources and by providing a community platform for people dedicated to living a more natural life. By sharing your health stories and your health questions, the wellbe network can help answer your questions and solve your health challenges. From medical databases to NYTimes Health articles, we'll comb through the noise and provide you with as comprehensive a view as we can of all your options. Sign up today and join the wellbe movement.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Go Back</button>    
                            </div>
                        </div>
                </div>
                <div class="span4">
                    <h2><img src="/assets/hospital.svg" style="width:35px; height:32px;"/>What you get.</h2>
                     <p>
                            Individualized curation of medical studies, health publications, and user experiences pertinent to your condition and/or therapy.</br></br>
                            Ability to share your success stories to help others (anonymously if desired)</br></br>
                            Access to other users' success stories to help you.
                    </p>
                </div>
                <div class="span4">
                    <h2><img src="/assets/gears2.svg" style="width:32px; height:32px;"/>  How it works.</h2>
                    <p>
                        <ol>
                            <li>Submit your information request</li></br>
                            <li>Pay a fee based on how quickly you want your information delivered</li></br>
                            <li><em><b>SPECIAL:</b> as a beta-user, complete a number of small tasks to <b style="font-size:16px;">reduce your cost to $0!</b></em></li>
                        </ol>
                    </p>
                </div>
            </div> 
              <hr>
        <div class="row">
            <h2 style="margin:4px 0px 5px 0px; text-align:center;">Your Path to Healthy Living Starts Below</h2>
            <%= render "/users/form" %>
        </div>
        </div><!-- /container -->

      
        <footer>
            <p>&copy; Wellbe 2013</p>
            <p><a href="http://thenounproject.com/noun/community/#icon-No2280" target="_blank">Community</a> designed by <a href="http://thenounproject.com/elordin" target="_blank">Thomas Weber</a> from The Noun Project</p>
            <a href="http://thenounproject.com/noun/gears/#icon-No2174" target="_blank">Gears</a> designed by <a href="http://thenounproject.com/Deadtype" target="_blank">Dima Yagnyuk</a> from The Noun Project</p>
            <p><a href="http://thenounproject.com/noun/arrow-down/#icon-No2742" target="_blank">Arrow Down</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project</p>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
