<body>
<p style="text-align:center;"><%= link_to 'Click here', :controller => "home", :action => "index" %> to go back.</p>
<h1>Wellbe Privacy Policy</h1> 

Wellbe understands how important the privacy of personal information is to our users.   We understand that your privacy matters and we respect your privacy choices. 
Information Collected About You 
We may collect “Personal Information” about you – such as your name, address, telephone number, email address or health information – in the following ways:
When you register for or update an existing profile on our web sites
When you sign-up for newsletters or other communications from Wellbe;
When you participate in an online survey; or
When you provide personal information in a community area or other public forum.
What Choices Do I Have? 
If you do not want your Personal Information used by Wellbe as provided in this Privacy Policy, you should not register as a member or for any specific tool or application that collects Personal Information. You may correct, update or review Personal Information you have submitted through registration. If you have registered and no longer want Wellbe to use your Personal Information, you should delete your information as described in this Policy.
How Information Collected About You Is Used 
We may use information we collect about you to: 
Administer your account;
Provide you with access to particular tools and services;
Respond to your inquiries and send you administrative communications; 
Obtain your feedback on our sites and our offerings;
Statistically analyze user behavior and activity;
Provide you with more relevant content and advertisements; 
Conduct research and measurement activities; or
Send you personalized emails or secure electronic messages pertaining to your health interests, including news, announcements, reminders and opportunities.
We may combine Personal and Non-Personal Information collected by Wellbe about you, and may combine this information with information from external sources.  Third parties may also use Non-Personal Information in order to display advertising that reflects the interests and preferences of our user community. 
With Whom Do We Share Your Information? 
Wellbe will not disclose any Personal Information about you unless specifically agreed to you by you or:
To comply with legal requirements, such as a law, regulation, search warrant, subpoena, or court order;
In special cases, such as in response to a physical threat to you or others. 
Wellbe does not make your Personal Information available to third parties for their marketing purposes.
How Do We Secure and Retain Your Information? 
We have put in place technical, physical, and administrative safeguards to protect the Personal Information that we collect. 
Contact Wellbe 
Please send us an email using the Contact Us link at the bottom of every page of our site if you have any questions about this Privacy Policy or the Personal Information we maintain about you. 



</body>