<%= form_tag charges_path do %>
<div class="row" style="margin: 40px 0px 0px 30px;">
<div class="span2" style="margin: 0px 0px 0px 50px;">
	<select style="width: 140px;">
  		<option value='1500' name="amount2"> 2 Days - $15.00 </option>
  		<option value="900" name="amount2"> 5 Days - $9.00 </option>
  		<option value="500" name="amount2"> 10 Days - $5.00 </option>
	</select>
</div>
<div class="span3" style="width:121px;">
 <button id="customButton" onclick=StripeCheckout.open()>Purchase</button>
  </div>
</div>
 <script>
    $('#customButton').click(function(){
      var token = function(res){
        console.log('Got token ID:', res.id);
      };

      StripeCheckout.open({
        key:         'pk_test_BGjeOsizNGYO1XX48cU69ecg',
        panelLabel:  'Checkout',
        token:       token
      });

      return false;
    });
  </script>
<input type="hidden" value="<%= params[:id] %>" name="id"></input>
<% end %>
