<span style="text-align: center;">
<h2>Thanks for choosing Wellbe!</h2> 
<h3>As a beta user, you will not be charged for our curation service. Please bear with us as we work out the kinks and learn how to serve you the information you need as quickly as possible.</br>~Team Wellbe</h3>

<p style="text-align:center;">If you'd like to go back <%= link_to 'click here', :controller => "home", :action => "index" %>.</p>

</span>